{{ define "base" }}
<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  {{ partial "head.html" . }}
  <body class="{{ partial "body-classes.html" . }}">
    {{ partial "header.html" . }}

    {{ partial "blowfish/theme-switcher.html" . }}
    {{ partial "blowfish/search-modal.html" . }}
    {{ partial "blowfish/settings-modal.html" . }}
    {{ partial "blowfish/mobile-menu.html" . }}
    {{ partial "blowfish/layout-blocks.html" . }}

    <main id="main">
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}

    {{ partial "scripts.html" . }}
  </body>
</html>
{{ end }}
