<header id="site-header" class="w-full py-2.5 px-4 flex items-center justify-between border-b border-neutral-800 dark:border-neutral-700">
  <div class="flex items-center space-x-2.5">
    <a href="/" class="text-xl font-semibold text-neutral-100 hover:text-primary-400 leading-tight">
      Anthology Atelier
    </a>
  </div>

  <nav class="flex items-center space-x-5 text-sm font-medium text-neutral-300 leading-tight">
    <a href="/" class="hover:text-primary-400">Home</a>
    <a href="/anthology4tech/" class="hover:text-primary-400">Anthology4Tech</a>
    <a href="/atelier4ideas/" class="hover:text-primary-400">Atelier4Ideas</a>
    <a href="/about/" class="hover:text-primary-400">About</a>

    <a href="/search/" class="hover:text-primary-400">
      {{ partial "icon.html" (dict "name" "search" "size" 18) }}
    </a>
  </nav>
</header>
